.selectedLocationBody {
    border: 10px solid white;
    background-color: #6B6B6B;
    border-radius: 10px;
    position: sticky;
    top: 0;
    z-index: 2;
    margin-bottom: 20px;
}

.selectedLocationDetail {
    margin: 20px;
}

.headline {
    font-weight: lighter;
    font-size: 1.2rem;
}

.name {
    font-size: 28px;
}

.vicinity {
    font-weight: lighter;
    font-size: 1.1rem;
}

.closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
}

.closeButton:hover {
    cursor: pointer;
}