.selectedLocationBody {
    border: 10px solid white;
    border-radius: 10px;
}

.selectedLocationDetail {
    margin: 20px;
}

.headline {
    font-weight: lighter;
    font-size: 1.2rem;
}

.name {
    font-weight: bolder;
}

.vicinity {
    font-weight: lighter;
    font-size: 1.1rem;
}