* {
  box-sizing: border-box;
  margin: 0;
  /* overflow: hidden; */
}
*::before, *::after {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
.MainPage {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    background-color: #282c34;
    margin: 0;
    
  }


  .MainPage-container {
    background-color: #383B3C;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    margin: 0;
  }

  

  .Search-pane {
    position: relative;
    height: 700px;
    /* margin-top: 110px; */
    overflow-y: auto;
    overflow-x: hidden;
    margin: 10px;
    width: 40%;
  }

  .Map {
    /* width: 60%; */
    overflow: hidden;
  }
  

  :root {
    --backgroundColor: rgba(246, 241, 209);
    --colorShadeA: rgb(106, 163, 137);
    --colorShadeB: rgb(121, 186, 156);
    --colorShadeC: rgb(150, 232, 195);
    --colorShadeD: rgb(187, 232, 211);
    --colorShadeE: rgb(205, 255, 232);
  }
  
  
 
    
  
