/* .SearchResults {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid black;
} */

.searchResultsMain {
    height: auto;
    width: auto;
    position: relative; 
    opacity: 1;
}

div.formInputDiv {
    margin: auto;
    border: 5px solid white;
    height: 150px;
    width: 400px;
    position: relative;
    /* left: 100px; */
    top: 150px; 
}
.selectedLocationDiv {
    width: 600px;
    display: inline;
    /* position: fixed; */
    /* left: 50px;
    top: 100px; */
}

.searchResultsDiv {
    height: 800px;
    width: 600px;
    position: absolute;
    display: none;
}