.searchResultsMain {
    /* height: auto;
    position: relative; 
    opacity: 1;
    margin: 10px; */
    width: 100%;
}

.formInputDiv {
    margin-top: 20%;
    padding: 20px;
    border: 5px solid white;
    border-radius: 5%;
    height: auto;
    position: relative;
    width: 100%;
}
.selectedLocationDiv {
    top: 110px;
    display: inline;
    /* position: fixed; */
    background: #383B3C;
    z-index: 1;
    width: inherit;
    /* left: 50px;
    top: 100px; */
}

.searchResultsDiv {
    height: 800px;
    width: inherit;
    position: absolute;
    display: none;
}