.header-main {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: Poppins;
  height: 100px;
 
}

.title {
  top: 30px;
  font-weight: 400;
  border: 5px white;
}

.greeting {
  font-size: 14px;
}

.p {
  font-weight: 700;
}

.buttons {
  display: flex;
}

.divider{
  width: 100px;
  height:auto;
  display:inline-block;
}


