 
.SearchResult
{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    margin-left: 100px;
    list-style-type: none;
    text-align: left;
    border: 1px solid black ;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: white;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;

}

.header {
    font-size: 35px;
    text-align: left;
    text-shadow: rgb(125, 134, 137) 4px 3px 0px;
    background-color: rgb(56, 59, 67);
    color: rgb(255, 255, 255);
}

.ScrollableSearchResults {
    height: 400px;
    overflow-y: auto;
} 

 
