 
.SearchResult {
    border: 2px solid white;
}

ul {
    background-color: tomato;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.resultName {
    font-size: 20px;
    font-weight: 400;
}

.resultAddress {
    font-size: 18px;
    font-weight: 200;
}

.resultStatus {
    font-size: 18px;
    font-weight: 100;
}

.resultButton {

}

.individualResult {
    list-style-type: none;
    border: 1px solid white;
    font-size: 16px;
    text-align: left;
    
}

.individualResult:hover {
    background-color: rgb(154, 154, 151);
}

.ScrollableSearchResults {
    list-style-type: none;
    border: 2px solid white;
    overflow-y: auto;
} 

 
